
.nav {
	position: fixed;
	background-color: rgba(249,247,247, .9);
	box-shadow: 0px 2px 8px rgba(0,0,0, .1);
	width: 100%;
	padding-left: 130px;
	padding-right: 130px;
	font-weight: 700;
	display: flex;
	align-items: center;
	z-index: 1;
}

.nav-links {
	/* flex items treat margin differently */
	margin-left: auto;
}

.nav-header, .nav-item, .hamburger {
	padding: 20px;
	display: inline-block;
	color: rgba(255, 255, 255, .7);
	text-shadow: 2px -2px rgba(70, 20, 0, .8);
	transition: all ease-in .3s;
}

.nav-header {
	font-size: 2rem;
	transform: rotate(-5deg);
}

.nav-item {
	font-size: 1.5rem;
	transform: rotate(5deg);
}

.nav-item:hover, .nav-header:hover {
	text-shadow: -2px 2px rgba(70, 20, 0, .4);
	cursor: pointer;
	transform: rotate(0deg);
}

.hamburger { 
	display: none; 
	border: 0;
	background: inherit;
	position: absolute; 
	top: 20px; 
	right: 20px; 
	z-index: 2; 
	font-size: 1.5rem;
}


@media only screen and (max-width: 1150px) {

	.nav { padding: 10px; display: block; }

	.nav-header { display: block; max-width: 80%; }

	.nav-links { display: none; }

	.hamburger { 
		display: block; 
	}

}



